@model IEnumerable<ShortenedUrl>
@{
    ViewData["Title"] = "Home Page";
}

<form action="/Home/CreateShortenedUrl" method="post">
    <input name="targetUrl" type="text" />
    <button name="submit">Generate Shortened URL</button>

</form>
<table border="1">
    <thead>
    </thead>
    <tr>
        <th>Shortened</th>
        <th>Original</th>
        <th>Most recent use</th>
        <th>Detail</th>
    </tr>
    @foreach (var shortenedUrl in Model)
    {
        <tr>
            <td><a href="/Home/GoToUrl?hash=@shortenedUrl.ShortenedPath" target="_blank">@shortenedUrl.ShortenedPath</a></td>
            <td><a href="@shortenedUrl.TargetUrl" target="_blank">@shortenedUrl.TargetUrl</a></td>
            <td>@(shortenedUrl.LastUseTime == default(DateTime) ? string.Empty : shortenedUrl.LastUseTime.ToString())</td>
            <td><img src="~/images/2000px-Icon_Stats_active.svg.png" width="25px" /></td>
        </tr>
    }

</table>

